@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.dark body {
    background-color: #041423;
    color: #ffffff;
    font-size: 14px;
}

.customFont {
    font-family: 'Tangerine', cursive;
    font-weight: bold;
}

.italicFont {
    font-family: 'Great Vibes', cursive;
}


@tailwind base;
@tailwind components;
@tailwind utilities;